<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp3.My.MySettings.ead" connectionString="Provider=SQLOLEDB;Data Source=np:SERVIDORSQL;Persist Security Info=True;OLE DB Services=-1;Password=osiris;User ID=logic;Initial Catalog=ElectroAD;Locale Identifier=1033;Connect Timeout=150;General Timeout=150"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>